:root {
    --selection-color: 135, 175, 175;
    --nice-sans-font: "Nunito Sans", "Lato";
    --crispy-sans-font: "Open Sans";
    --half-grid-gap: 0.5ex;
}


#content {
	padding: 1em;
	max-width: 1100px;
	margin: 0 auto;
	line-height: 1.25;
}

h1,h2,h3,h4 {
    font-family: var(--nice-sans-font), sans-serif;
}

h2.conference-current-date {
    margin-top: 2em;
    margin-bottom: 1ex;
}
.schedule {
    grid-gap: var(--half-grid-gap);
}

.conference-session {
    z-index: 100;
}

.conference-session:hover {
    background-color: rgba(255, 187, 92, 0.1);
}

/*
.conference-session[title]:hover:after {
    visibility: visible;
}

.conference-session[title]:after {
    content: attr(title);
    background-color: #4b9c2c;    
    color: #ffffff;
    font-size: 150%;
    position: absolute;
    padding: 4px 8px 4px 8px;
    visibility: hidden;
}
*/


.talk, .event {
	margin-top: var(--half-grid-gap);
    padding: 1ex;
    vertical-align: text-top;
	border-radius: 10px;
    text-align: center;
    border: 3px solid lightgray;
    font-size: 10pt;
}
.talk {
    background-color: rgba(150, 215, 253, 0.8);
}

.talk[active] {
    background-color: rgba(200, 200, 253, 1);
}

.event {
    background-color: rgba(182, 253, 150, 0.8);
}

.talk-title,
.talk-presenter,
.talk-coauthors {
    font-family: var(--nice-sans-font);
	display: block;
}

h3.talk-title {
    font-weight: bold;
    margin-top: 0ex;
    margin-bottom: 1.2ex;
    display: inline-block;
    border-bottom: 1pt dashed;
    padding-bottom: 0.7ex;
}
.talk-presenter {
    font-weight: bold;
}

.time-rule {
    border-top: 2px solid rgba(220,220,220,1);
    height: 0pt;
}

#days-links-list {
    display: grid;
    margin-bottom: 1.5em;
    margin-left: 3em;
}


#days-links-list a:link, a:visited, a:active {
    font-family: var(--nice-sans-font), sans-serif;
    text-align: center;
    border: 0pt;
    padding: 1ex;
    font-size: 12pt;
    border-radius: 2pt;
    color: inherit;
    text-decoration: inherit;
    background-color: rgba(var(--selection-color), 0);
}

#days-links-list a:hover {
    background-color: rgba(var(--selection-color), 0.1);
}

#days-links-list a[selected] {
    background-color: rgba(var(--selection-color), 0.2);
}


.link-day-label-date {
    display: inline-block;
    border-bottom: solid lightgray;
    padding-bottom: 2pt;
    margin-bottom: 3pt;
}
.link-day-label-weekday {
    display: block;
}


.talk-details {
    text-align: left;
}

.event-details {
}

.time-slot {
	margin: 0;
	font-size: 8pt;
    padding-top: 4px;
    font-family: var(--crispy-sans-font), sans-serif;
}
.track-slot {
    font-size: 10pt;
    text-align: center;
    font-family: var(--crispy-sans-font), sans-serif;
	background-color: rgba(255,255,255,.9);
}

.conference-anyday {
/*     overflow: scroll; */
    max-width: 100%;
}

#tt-actions {
    display: none;
    padding: 0pt;
    position: fixed;
    bottom: 1px;
    left: 1px;
    border-radius: 10px;
    z-index: 2000;
    background-color: rgba(255,255,255, 0.9);
}

#tt-actions[active] {
    display: inline-block;
}

#tt-actions .action {
    border:0;
    border-radius: 10px;
    padding: 10px;
    max-width: 50px;
    text-align: center;

}
#tt-actions .action:hover {
    background-color: rgba(var(--selection-color), 0.2);
}
#tt-actions .action:active {
    background-color: rgba(var(--selection-color), 0.5);
}
