/* original idea from https://css-tricks.com/building-a-conference-schedule-with-css-grid/, all eye-candy in separate file */



.days-button-list {
  display: grid;
  grid-gap: 0.5ex;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
}


.schedule .conference-day-0 {
    display: inherit;
    grid-gap: inherit;
    grid-template-rows:
      [tracks] auto 
      [time-0930] auto
      [time-1000] auto
      [time-1040] auto
      [time-1120] auto
      [time-1140] auto
      [time-1220] auto
      [time-1300] auto
      [time-1400] 1fr
      [time-1405] 1fr
      [time-1410] 1fr
      [time-1415] 1fr
      [time-1420] 1fr
      [time-1425] 1fr
      [time-1430] 1fr
      [time-1435] 1fr
      [time-1440] 1fr
      [time-1445] 1fr
      [time-1450] 1fr
      [time-1455] 1fr
      [time-1500] 1fr
      [time-1505] 1fr
      [time-1510] 1fr
      [time-1515] 1fr
      [time-1520] 1fr
      [time-1525] 1fr
      [time-1530] 1fr
      [time-1535] 1fr
      [time-1540] 1fr
      [time-1545] 1fr
      [time-1550] 1fr
      [time-1555] 1fr
      [time-1600] 1fr
      [time-1605] 1fr
      [time-1610] 1fr
      [time-1615] 1fr
      [time-1620] 1fr
      [time-1625] 1fr
      [time-1630] 1fr
      [time-1635] 1fr
      [time-1640] 1fr
      [time-1645] 1fr
      [time-1650] 1fr
      [time-1655] 1fr
      [time-1700] 1fr
      [time-1705] 1fr
      [time-1710] 1fr
      [time-1715] 1fr
      [time-1720] 1fr
      [time-1725] 1fr
      [time-1730] 1fr
      [time-1735] 1fr
      [time-1740] 1fr
      [time-1745] 1fr
      [time-1750] 1fr
      [time-1755] 1fr
      [time-1800] 1fr
      [time-1805] 1fr
      [time-1810] 1fr
      [time-1815] 1fr
      [time-1820] 1fr
      [time-1825] 1fr
      [time-1830] 1fr
      [time-1835] 1fr
      [time-1840] 1fr
      [time-1845] 1fr
      [time-1850] 1fr
      [time-1855] 1fr
      [time-1900] 1fr
      [time-1905] 1fr
      [time-1910];
    grid-template-columns:
      [times] 3em
      [track-inst-start] 1fr
      [track-inst-end track-celm-start] 1fr
      [track-celm-end track-stars-start] 1fr
      [track-stars-end track-planets-start] 1fr
      [track-planets-end track-hea-start] 1fr
      [track-hea-end track-msa-start] 1fr
      [track-msa-end track-sun-start] 1fr
      [track-sun-end track-galaxies-start] 1fr
      [track-galaxies-end];
}

.schedule .conference-day-1 {
    display: inherit;
    grid-gap: inherit;
    grid-template-rows:
      [tracks] auto 
      [time-1000] auto
      [time-1040] auto
      [time-1120] auto
      [time-1140] auto
      [time-1220] auto
      [time-1300] auto
      [time-1400] 1fr
      [time-1405] 1fr
      [time-1410] 1fr
      [time-1415] 1fr
      [time-1420] 1fr
      [time-1425] 1fr
      [time-1430] 1fr
      [time-1435] 1fr
      [time-1440] 1fr
      [time-1445] 1fr
      [time-1450] 1fr
      [time-1455] 1fr
      [time-1500] 1fr
      [time-1505] 1fr
      [time-1510] 1fr
      [time-1515] 1fr
      [time-1520] 1fr
      [time-1525] 1fr
      [time-1530] 1fr
      [time-1535] 1fr
      [time-1540] 1fr
      [time-1545] 1fr
      [time-1550] 1fr
      [time-1555] 1fr
      [time-1600] 1fr
      [time-1605] 1fr
      [time-1610] 1fr
      [time-1615] 1fr
      [time-1620] 1fr
      [time-1625] 1fr
      [time-1630] 1fr
      [time-1635] 1fr
      [time-1640] 1fr
      [time-1645] 1fr
      [time-1650] 1fr
      [time-1655] 1fr
      [time-1700] 1fr
      [time-1705] 1fr
      [time-1710] 1fr
      [time-1715] 1fr
      [time-1720] 1fr
      [time-1725] 1fr
      [time-1730] 1fr
      [time-1735] 1fr
      [time-1740] 1fr
      [time-1745] 1fr
      [time-1750] 1fr
      [time-1755] 1fr
      [time-1800] 1fr
      [time-1805] 1fr
      [time-1810] 1fr
      [time-1815] 1fr
      [time-1820] 1fr
      [time-1825] 1fr
      [time-1830] 1fr
      [time-1835] 1fr
      [time-1840] 1fr
      [time-1845] 1fr
      [time-1850] 1fr
      [time-1855] 1fr
      [time-1900] 1fr
      [time-1905] 1fr
      [time-1910] 1fr
      [time-1915] 1fr
      [time-1920];
    grid-template-columns:
      [times] 3em
      [track-inst-start] 1fr
      [track-inst-end track-celm-start] 1fr
      [track-celm-end track-stars-start] 1fr
      [track-stars-end track-planets-start] 1fr
      [track-planets-end track-hea-start] 1fr
      [track-hea-end track-msa-start] 1fr
      [track-msa-end track-sun-start] 1fr
      [track-sun-end track-galaxies-start] 1fr
      [track-galaxies-end];
}

.schedule .conference-day-2 {
    display: inherit;
    grid-gap: inherit;
    grid-template-rows:
      [tracks] auto 
      [time-1000] auto
      [time-1040] auto
      [time-1120] auto
      [time-1140] auto
      [time-1220] auto
      [time-1300] auto
      [time-1400] 1fr
      [time-1405] 1fr
      [time-1410] 1fr
      [time-1415] 1fr
      [time-1420] 1fr
      [time-1425] 1fr
      [time-1430] 1fr
      [time-1435] 1fr
      [time-1440] 1fr
      [time-1445] 1fr
      [time-1450] 1fr
      [time-1455] 1fr
      [time-1500] 1fr
      [time-1505] 1fr
      [time-1510] 1fr
      [time-1515] 1fr
      [time-1520] 1fr
      [time-1525] 1fr
      [time-1530] 1fr
      [time-1535] 1fr
      [time-1540] 1fr
      [time-1545] 1fr
      [time-1550] 1fr
      [time-1555] 1fr
      [time-1600] 1fr
      [time-1605] 1fr
      [time-1610] 1fr
      [time-1615] 1fr
      [time-1620] 1fr
      [time-1625] 1fr
      [time-1630] 1fr
      [time-1635] 1fr
      [time-1640] 1fr
      [time-1645] 1fr
      [time-1650] 1fr
      [time-1655] 1fr
      [time-1700] 1fr
      [time-1705] 1fr
      [time-1710] 1fr
      [time-1715] 1fr
      [time-1720] 1fr
      [time-1725] 1fr
      [time-1730] 1fr
      [time-1735] 1fr
      [time-1740] 1fr
      [time-1745] 1fr
      [time-1750] 1fr
      [time-1755] 1fr
      [time-1800] 1fr
      [time-1805] 1fr
      [time-1810] 1fr
      [time-1815] 1fr
      [time-1820] 1fr
      [time-1825] 1fr
      [time-1830] 1fr
      [time-1835] 1fr
      [time-1840] 1fr
      [time-1845] 1fr
      [time-1850] 1fr
      [time-1855] 1fr
      [time-1900] 1fr
      [time-1905] 1fr
      [time-1910] 1fr
      [time-1915] 1fr
      [time-1920] 1fr
      [time-1925] 1fr
      [time-1930] 1fr
      [time-1935] auto
      [time-2100];
    grid-template-columns:
      [times] 3em
      [track-inst-start] 1fr
      [track-inst-end track-celm-start] 1fr
      [track-celm-end track-stars-start] 1fr
      [track-stars-end track-planets-start] 1fr
      [track-planets-end track-hea-start] 1fr
      [track-hea-end track-msa-start] 1fr
      [track-msa-end track-sun-start] 1fr
      [track-sun-end track-galaxies-start] 1fr
      [track-galaxies-end];
}

.schedule .conference-day-3 {
    display: inherit;
    grid-gap: inherit;
    grid-template-rows:
      [tracks] auto 
      [time-1000] auto
      [time-1040] auto
      [time-1120] auto
      [time-1140] auto
      [time-1220] auto
      [time-1300] auto
      [time-1400] 1fr
      [time-1405] 1fr
      [time-1410] 1fr
      [time-1415] 1fr
      [time-1420] 1fr
      [time-1425] 1fr
      [time-1430] 1fr
      [time-1435] 1fr
      [time-1440] 1fr
      [time-1445] 1fr
      [time-1450] 1fr
      [time-1455] 1fr
      [time-1500] 1fr
      [time-1505] 1fr
      [time-1510] 1fr
      [time-1515] 1fr
      [time-1520] 1fr
      [time-1525] 1fr
      [time-1530] 1fr
      [time-1535] 1fr
      [time-1540] 1fr
      [time-1545] 1fr
      [time-1550] 1fr
      [time-1555] 1fr
      [time-1600] 1fr
      [time-1605] 1fr
      [time-1610] 1fr
      [time-1615] 1fr
      [time-1620] 1fr
      [time-1625] 1fr
      [time-1630] 1fr
      [time-1635] 1fr
      [time-1640] 1fr
      [time-1645] 1fr
      [time-1650] 1fr
      [time-1655] 1fr
      [time-1700] 1fr
      [time-1705] 1fr
      [time-1710] 1fr
      [time-1715] 1fr
      [time-1720] 1fr
      [time-1725] 1fr
      [time-1730] 1fr
      [time-1735] 1fr
      [time-1740] 1fr
      [time-1745] 1fr
      [time-1750] 1fr
      [time-1755] 1fr
      [time-1800] 1fr
      [time-1805] 1fr
      [time-1810] 1fr
      [time-1815] 1fr
      [time-1820] 1fr
      [time-1825] 1fr
      [time-1830] 1fr
      [time-1835] 1fr
      [time-1840] 1fr
      [time-1845] 1fr
      [time-1850] 1fr
      [time-1855] 1fr
      [time-1900] 1fr
      [time-1905] 1fr
      [time-1910] 1fr
      [time-1915] 1fr
      [time-1920];
    grid-template-columns:
      [times] 3em
      [track-inst-start] 1fr
      [track-inst-end track-celm-start] 1fr
      [track-celm-end track-stars-start] 1fr
      [track-stars-end track-planets-start] 1fr
      [track-planets-end track-hea-start] 1fr
      [track-hea-end track-msa-start] 1fr
      [track-msa-end track-sun-start] 1fr
      [track-sun-end track-galaxies-start] 1fr
      [track-galaxies-end];
}

.schedule .conference-day-4 {
    display: inherit;
    grid-gap: inherit;
    grid-template-rows:
      [tracks] auto 
      [time-1000] auto
      [time-1040] auto
      [time-1120] auto
      [time-1140] auto
      [time-1220] auto
      [time-1300] auto
      [time-1400] 1fr
      [time-1405] 1fr
      [time-1410] 1fr
      [time-1415] 1fr
      [time-1420] 1fr
      [time-1425] 1fr
      [time-1430] 1fr
      [time-1435] 1fr
      [time-1440] 1fr
      [time-1445] 1fr
      [time-1450] 1fr
      [time-1455] 1fr
      [time-1500] 1fr
      [time-1505] 1fr
      [time-1510] 1fr
      [time-1515] 1fr
      [time-1520] 1fr
      [time-1525] 1fr
      [time-1530] 1fr
      [time-1535] 1fr
      [time-1540] 1fr
      [time-1545] 1fr
      [time-1550] 1fr
      [time-1555] 1fr
      [time-1600] 1fr
      [time-1605] 1fr
      [time-1610] 1fr
      [time-1615] 1fr
      [time-1620] 1fr
      [time-1625] 1fr
      [time-1630] 1fr
      [time-1635] 1fr
      [time-1640] 1fr
      [time-1645] 1fr
      [time-1650] 1fr
      [time-1655] 1fr
      [time-1700] 1fr
      [time-1705] 1fr
      [time-1710] 1fr
      [time-1715] 1fr
      [time-1720] 1fr
      [time-1725] 1fr
      [time-1730] 1fr
      [time-1735] 1fr
      [time-1740] 1fr
      [time-1745] 1fr
      [time-1750] 1fr
      [time-1755] 1fr
      [time-1800] 1fr
      [time-1805] 1fr
      [time-1810] 1fr
      [time-1815] 1fr
      [time-1820] 1fr
      [time-1825] 1fr
      [time-1830] 1fr
      [time-1835] 1fr
      [time-1840] 1fr
      [time-1845] 1fr
      [time-1850] 1fr
      [time-1855] 1fr
      [time-1900] 1fr
      [time-1905] 1fr
      [time-1910] 1fr
      [time-1915] 1fr
      [time-1920];
    grid-template-columns:
      [times] 3em
      [track-inst-start] 1fr
      [track-inst-end track-celm-start] 1fr
      [track-celm-end track-stars-start] 1fr
      [track-stars-end track-planets-start] 1fr
      [track-planets-end track-hea-start] 1fr
      [track-hea-end track-msa-start] 1fr
      [track-msa-end track-sun-start] 1fr
      [track-sun-end track-galaxies-start] 1fr
      [track-galaxies-end];
}


.schedule {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}
.track-slot {
  display: block;
  padding: 10px 5px 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.time-slot {
  grid-column: times;
}
.time-rule {
  grid-column: 1 / -1;
}



